/*
Theme Name: Shopping
Theme URI: http://www.themehall.com/shopping-ecommerce-wordpress-theme
Author: themehall.com
Author URI: http://www.themehall.com
Description: Shopping theme is an Ecommerce omega child theme for WordPress. Shopping WordPress theme is designed to work with WooCommerce plugin. Start creating mobile friendly WordPress online shop with Shopping theme and WooCommerce.
Version: 0.3.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, light, gray, two-columns, one-column, right-sidebar, left-sidebar, full-width-template, theme-options, custom-menu, threaded-comments, sticky-post,featured-image-header, flexible-header, translation-ready, responsive-layout, fluid-layout, microformats

Template: omega

(C) 2012-2013 themehall.com.

*/


/* Baseline Reset (normalize.css 2.1.2)
	Link: http://necolas.github.com/normalize.css/
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.archive-pagination:before,
.clearfix:before,
.entry:before,
.entry-pagination:before,
.post-navigation:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.archive-pagination:after,
.clearfix:after,
.entry:after,
.entry-pagination:after,
.post-navigation:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}

/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	color: #555;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;	
	font-weight: 300;
	line-height: 1.625;
	background-color: #fff;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background: #333;
	color: #fff;
}

::selection {
	background: #333;
	color: #fff;
}

a {
	color: #96588a;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #ad74a2;
	text-decoration: none;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol, ul {
	list-style: none;
}

ul {
	list-style: disc outside;
	margin: 0 0 25px 48px;
	padding: 0;
}

ol {
	list-style-type: decimal;
	margin: 0 0 25px 48px;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 0 25px 5px;
}

dl dt {
	font-weight: bold;
	margin: 10px 0 0 0;
}

dl dd {
	margin: 5px 0 0 24px;
}

blockquote,
blockquote::before {
	
}

blockquote {
	margin: 0;
	padding: 24px 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

pre {
	background-color: #F9F9F9;
	overflow: scroll;
	padding: 0 20px;
	white-space: pre;
}

cite {
	font-style: normal;
}

/* Table
--------------------------------------------- */

table {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 25px;
}

table caption {
	margin: 0 0 5px;
	font-size: 15px;
	font-variant: small-caps;
}

th,td {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.widget th,
.widget td {
	padding: 5px 2px;
}

th {
	background: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}

td {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	width: auto\9; /* IE8 */
}

/* Forms
--------------------------------------------- */

input,
textarea {
	background: #fff;
	border: 1px solid #ddd;
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 10px 10px;
	max-width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #aaa;
	outline: none;
}

::-moz-placeholder {
	color: #999;
}

::-webkit-input-placeholder {
	color: #999;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #333;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	padding: 16px 24px;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 980px;
}

.site-inner {	
	clear: both;
	padding: 40px 0;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	float: left;
	width: 600px;
}

.layout-2c-r .content {
	float: right;
}

.layout-2c-l .content {
	float: left;
}

.layout-1c .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 300px;
}

.layout-1c .sidebar-primary {
	display: none;
}

.layout-2c-r .sidebar-primary {
	float: left;
}

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sticky {
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

.wp-caption {
	max-width: 100%;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto 20px;
}

.gallery .gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0;
}

.gallery .gallery-item {
	overflow: hidden;
	float: left;
	margin: 0 0 16px;
	text-align: center;
	list-style: none;
	padding: 0;
}

.gallery .gallery-item .gallery-icon {
	position:relative;
}

.gallery .gallery-item .gallery-icon img {
	width: auto;
	max-width: 89%;
	height: auto;
	padding: 5%;
	margin: 0 auto;
}

.gallery-caption {
	margin: 0 10px;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar th {
	text-align: center;
	font-weight: bold;
}
.widget_calendar td {
	text-align: center;
}

.widget_search input.search-field {
	width: 100%;
	background: url(images/search.png) no-repeat center right transparent;
	padding-right: 30px;
}

.widget select {
	max-width: 100%;
}

/* Headings
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	word-wrap: break-word;
	line-height: 1.2;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
}

.entry-title a:hover {
	color: #666;
}

.archive-title {
	font-size: 20px;
	margin-bottom: 24px;
}

/*
Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
}

.site-header > .wrap {
	padding: 30px 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	font-weight: 700;
	width: 40%;
	float: left;
}

.site-title {
	font-size: 45px;
	letter-spacing: 2px;
	line-height: 1;
	margin: 0 0 8px;
}

.site-title a,
.site-title a:hover {
	color: #555;
}

.site-description {
	color: #999;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
}

/* Header Right
--------------------------------------------- */
.header-right {
	float: right;
	width: 50%;
	padding: 16px 0 0;
}

.site-header .header-right .widget {
    margin-bottom: 20px;
    text-align: right;
}

.header-right .widget_search input.search-field {
  	max-width: 300px;
}

.header-right ul.menu li {
    display: inline-block;
    text-align: left;
}

.header-right ul.menu li a {
    border: medium none;
    display: block;
    padding: 7px 24px;
    position: relative;
}

.header-right ul.menu li:last-child a {
	padding-right: 0;
}

.header-right ul.menu li .sub-menu {
    left: -9999px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: opacity 0.4s ease-in-out 0s;
    width: 200px;
    z-index: 99;
    background: #fff;
    border: 1px solid #eee;
}

.header-right ul.menu .menu-item:hover,
.header-right ul.menu .page_item:hover {
	position: static;
}

.header-right ul.menu .menu-item:hover > .sub-menu,
.header-right ul.menu .page_item:hover > .children {
	left: auto;
	opacity: 1;
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
.tinynav { display: none }

.nav-primary {
	background:#96588a;
	background:-webkit-gradient(linear,left top,left bottom,from(#ad74a2),to(#96588a));
	background:-webkit-linear-gradient(#ad74a2,#96588a);
	background:-moz-linear-gradient(center top,#ad74a2 0,#96588a 100%);
	background:-moz-gradient(center top,#ad74a2 0,#96588a 100%);
	text-shadow:0 -1px 0 rgba(0,0,0,0.6);
}

.omega-nav-menu,
.omega-nav-menu > ul {
	clear: both;
	color: #999;
	letter-spacing: 1px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 100%;
}

.omega-nav-menu .menu-item,
.omega-nav-menu .page_item {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.omega-nav-menu a {
	border: none;
	color: #fff;
	display: block;
	padding: 28px 24px;
	position: relative;
}

.omega-nav-menu .current_page_item a,
.omega-nav-menu a:hover {
	background:#ad74a2;
}

.omega-nav-menu .sub-menu,
.omega-nav-menu .children {
	background:#96588a;
	left: -9999px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.omega-nav-menu .sub-menu a,
.omega-nav-menu .children a {
	border-top: none;
	font-size: 14px;
	letter-spacing: 0;
	padding: 16px 20px;
	position: relative;
	width: 200px;
}

.omega-nav-menu .sub-menu .sub-menu,
.omega-nav-menu .children .children {
	margin: -54px 0 0 199px;
}

.omega-nav-menu .menu-item:hover,
.omega-nav-menu .page_item:hover {
	position: static;
}

.omega-nav-menu .menu-item:hover > .sub-menu,
.omega-nav-menu .page_item:hover > .children {
	left: auto;
	opacity: 1;
}

/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry, .hentry {
	margin-bottom: 40px;	
}

.entry-content {
	word-wrap: break-word;
}

.entry-content img.wp-post-image {
	margin-bottom: 15px;
}

.entry-content img.medium,
.entry-content img.thumbnail {
	float: left;
	margin: 7px 24px 24px 0;;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content .wp-caption p {
	margin-bottom: 0;
}

.entry-meta {
	clear: both;
	color: #999;
	font-size: 14px;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	margin: 0;
	padding: 0px 0px 8px;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
	display: block;
}

/* Entry Navigation
--------------------------------------------- */

.navigation {
	clear: both;
	font-size: 14px;
	margin: 40px 0;
	overflow: hidden;
}

.entry .navigation a {
	border-bottom: 1px solid #ddd;
}

.navigation li {
	display: inline;
}

.navigation li a {
	background: #333;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}


/* Pagination
--------------------------------------------- */

.pagination .page-numbers {
	padding: 8px 12px;
	border: 1px solid #F5F5F5;
    border-radius: 25px 25px 25px 25px;
}

.pagination .current {
	background-color: #F5F5F5;
}


/* Comments
--------------------------------------------- */

.entry-comments,
#respond {
	background: #fff;
	border-radius: 3px;
}

.entry-comments,
.ping-list,
#respond {
	margin-bottom: 40px;
}

.entry-comments a,
#respond a {
	border-bottom: 1px solid #ddd;
}

.entry-comments .comment-author {
	margin: 10px 0 10px;
}

.entry-comments .comment-content {
	clear: both;
}

#respond input[type="email"],
#respond input[type="text"],
#respond input[type="url"] {
	width: 50%
}

#respond label {
	display: block;
	margin-right: 12px;
}

ol.comment-list {
	margin: 0;
	padding: 0;
}

.comment-list li.ping, .comment-list li.comment {
	list-style-type: none;
}

.comment-list .comment-content > ol, 
.comment-list .comment-content > ul {
	margin-bottom: 24px;
}

li.comment,
li.pingback {
	border: 2px solid #fff;
	border-right: none;
}

li.comment .comment-item,
li.pingback .comment-item {
	background: #f5f5f5;
	margin: 12px 0;
	padding: 32px;
}

li.comment ol {
	margin: 0
}

.comment .avatar ,
.pingback .avatar{
	margin: 0 16px 24px 0;
}

.bypostauthor {
}

.form-allowed-tags {
	background: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
}

.widget-title {
	word-wrap: break-word;
}

.sidebar ul,
.footer-widgets ul {
	margin: 0;
}

.sidebar li,
.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	padding: 0;
	word-wrap: break-word;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	margin-bottom: 40px;
}

.sidebar .search-form {
	width: 100%;
}

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background:#96588a;
	background:-webkit-gradient(linear,left top,left bottom,from(#ad74a2),to(#96588a));
	background:-webkit-linear-gradient(#ad74a2,#96588a);
	background:-moz-linear-gradient(center top,#ad74a2 0,#96588a 100%);
	background:-moz-gradient(center top,#ad74a2 0,#96588a 100%);
	text-shadow:0 -1px 0 rgba(0,0,0,0.6);
    color: #FFFFFF;
    padding: 40px 0 16px;
}

.footer-widgets th {
	background-color: transparent;
}	

.footer-widgets .widget-title,
.footer-widgets a {
	color: #FFFFFF;
}

.footer-widgets .widget {
    margin-bottom: 24px;
}

.footer-widgets .col-3 .widget-area {
	float: left;
	padding: 0 3% 0 0;
    width: 33%;
}

.footer-widgets .col-4 .widget-area {
	float: left;
	padding: 0 3% 0 0;
    width: 25%;
}


.footer-widgets .widget-area:last-child {
	padding: 0;
	float: right;
}

/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	border-top: 1px solid #F5F5F5;
	font-size: 14px;
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin: 0;
}

p.copyright {
	font-size: inherit;
}

/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1139px) {

	.wrap {
		max-width: 960px;
	}

	.content {
		width: 620px;
	}

}

@media only screen and (max-width: 1000px) {

	.title-area,
	.header-right,
	.site-header .header-right .widget {
		float: none;
		width: 100%;
		text-align: center;
	}

	.content,
	.sidebar-primary,
	.wrap,
	.footer-widgets .col-3 .widget-area,
	.footer-widgets .col-4 .widget-area {
		width: 100%;
	}

	.header-image .site-header .wrap {
		background-position: center top;
	}

	.site-inner,
	.footer-widgets {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.entry,
	.entry-comments,
	.entry-footer .entry-meta,
	.sidebar .widget,
	.site-header,
	#respond {
		padding: 0;
	}

	.site-inner {
		background: none;
	}

	.omega-nav-menu li {
		float: none;
	}

	.omega-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-title {
		text-align: center;
	}

	.omega-nav-menu a,
	.omega-nav-menu > .first > a,
	.omega-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.omega-nav-menu li.right {
		display: none;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
	}

	.sidebar-primary {
		border-top: 1px solid #F5F5F5;
		padding-top: 40px;
	}

	.site-footer {
		padding: 24px 0;
	}

}

@media only screen and (max-width: 767px) {
	.tinynav { 
		display: block; 
		color: #fff;
		background: url(images/button.png) no-repeat center right #96588a;;
		-webkit-appearance: none;
		width: 100%;
		padding: 17px 45px 17px 7px;
		border: none;
	}
	.nav-primary ul.menu {
		display: none;
	}
	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	    margin: 0px 3.8% 2.992em 0px;
	    width: 46% !important;
	}

	.woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images,
	.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary {
	    float: none !important;
	    width: 100% !important;
	}


}
/*
Plugins Style
---------------------------------------------------------------------------------------------------- */

/* Jetpack
--------------------------------------------- */
input#subscribe-field {
	padding: 16px !important;
}

/* Woocommerce
--------------------------------------------- */
.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img,
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button,
.woocommerce div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page #content div.product div.images img { 
    box-shadow: none !important;
}

.variations td {
    border-bottom: none;
    border-right: none;
}
